.flashSales {
  padding: 40px 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.flashSalesTop {
  display: flex;
  column-gap: 80px;
  align-items: flex-end;
}

.flashSalesMorBtn {
  cursor: pointer;
}

/* Singal Product Style */

.flashSalesbottom {
  padding: 40px 0px;
}
