.category-container {
  padding: 40px 0;
  overflow-x: hidden;
  border-top: 1px solid #b3b3b37a;
  border-bottom: 1px solid #b3b3b37a;
}

.categoryTitle {
  padding-bottom: 40px;
}

.singalCategoryItem {
  width: 170px;
  height: 145px;
  padding: 10px;
  background: #fff;
  display: flex;
  row-gap: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}

.singalCategoryName {
  font-size: 16px;
  font-weight: 400;
}
.singalCategoryItem:hover {
  background: #ff9b9b36;
}
