.topBar {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBarSearch {
  width: 40%;
}

.topBarSearch .topSearchBar {
  width: 100%;
  height: 36px;
  color: #4e4e4e;
  border-radius: 5px;
  padding: 0 0 0 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2ffdb8ab;
  background-color: #ececec;
}
.topBarSearch .topSearchBar input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4e4e4e;
  background: none;
  padding: 0 2px 0 0;
}

.topBarSearch .topSearchBar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50em;
  opacity: 0;
  pointer-events: none;
  opacity: 0.8;
  cursor: pointer;
  pointer-events: all;
  background-size: contain;
  background: url(../../../../public/assets/Icon/croseIcon.png) no-repeat 50%
    50%;
}

.topBarSearch .topSearchBar .topBarSearchSubmit {
  /* background: none; */
  border: none;
  width: auto;
  height: 100%;
  cursor: pointer;
  padding: 2px 10px;
  transition: all 0.2s;
  background: #00000010;
  border-left: 1px solid #d3d3d3;
}

.topBarSearch .topSearchBar .topBarSearchSubmit:hover {
  background: #00000020;
}

.topBarRight {
  display: flex;
  gap: 20px;
}

.topBarRight .topBarRightItem {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  transition: all 0.2s;
  justify-content: center;
}

.topBarRight .topBarRightItem:hover {
  background: #0000000a;
}

.topBarRight .topBarRightItem .topWishIcon {
  width: 20px;
}

.topBarRightItem .countShopingProdut {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  padding: 4px;
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #db4444;
  justify-content: center;
}

.topBarRight .topBarRightItem .userProfile {
  position: relative;
}

.topBarRight .topBarRightItem .topUserIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userProfileSubMenue {
  position: absolute;
  right: 0;
  top: 37px;
  width: 225px;
  z-index: 150;
  border-radius: 2px;
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.5);
}

.topBarRight .topBarRightItem .subMunueS24 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(-50%);
}

.topBarRight .topBarRightItem .subMunueS24Active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.topBarRight .topBarRightItem .userProfileSubMenue ul {
  padding: 10px;
  list-style: none;
}

.topBarRight .topBarRightItem .userProfileSubMenue ul li .subItemLink {
  display: flex;
  gap: 10px;
  margin-bottom: 1px;
  font-size: 15px;
  padding: 8px 5px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
}

.topBarRight .topBarRightItem .userProfileSubMenue ul li .subItemLink:hover {
  background: #67656540;
}
