.bestSelling-container {
  padding: 40px 0;
  overflow-x: hidden;
}

.bestSellingTitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bestSellingProduct {
  padding-top: 40px;
}

.bestSellingProduct .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  display: none;
}

.bestSellingProduct .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  display: none;
}
